{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Rivendosni fjalëkalimin" %}{% endblock %}

{% block content %}
    <h1>{% trans "Rivendosni fjalëkalimin" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Ne ju kemi dërguar një email. Ju lutem na kontaktoni nëse nuk e keni marrë një email brenda disa minutave.{% endblocktrans %}</p>
{% endblock %}
