{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Rivendosni fjalëkalimin" %}{% endblock %}

{% block content %}

    <h1>{% trans "Rivendosni fjalëkalimin" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Keni harruar fjalëkalimin? Shkruani E-mail adresën më poshtë, dhe ne do të ju dërgojmë një email në mënyrë që ta ndryshoni." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Ju lutem na kontaktoni nëse keni pasur probleme me ndryshimin e fjalëkalimit.{% endblocktrans %}</p>
{% endblock %}
