{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Ndryshoni fjalëkalimin" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Ndryshoni fjalëkalimin" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Linku për rikrijimin e fjalëkalimit ishte invalid, ndoshta sepse ai fjalëkalim është përdorur më herët.  Ju lutem kërkoni një <a href="{{ passwd_reset_url }}">rikrijim të ri të fjalëkalimit</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Fjalëkalimi juaj tani është ndryshuar.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
